* {
  margin: 0;
  padding: 0;
}

.navigation {
  margin: 0 auto;
}

.footer-row {
  display: flex;
  flex-direction: column;
  margin-right: 5rem;
}

ul {
  list-style-type: none;
  font-family: sans-serif;
  font-size: 0.88rem;
}

li {
  line-height: 1.8rem;
}

a {
  color: #ccc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

span {
  font-weight: bold;
  color: white;
}

.top {
  background: #37475a;
  height: 1.25rem;
  padding: 1rem 0;
}

.top:hover {
  background: #41556d;
}

.top-link {
  font-family: sans-serif;
  font-size: 0.75rem;
  color: white;
  width: 5%;
  margin: 0 auto;
  margin-top: 0.25rem;
}

footer {
  background-color: #232f3e;
  margin-top: 3rem;
}

.primary-footer-nav {
  display: flex;
  flex-direction: row;
  height: 25rem;
  width: 90%;
  padding: 1.5rem 0 0 5rem;
  margin: 1rem auto;
}

img {
  width: 8em;
  height: 3em;
}

.language-location-card {
  background: #232f3e;
  height: 4rem;
}

/* Secondary Footer Navigation */
.secondary-footer-nav {
  background: #000;
  padding-top: 2rem;
}

.secondary-footer-nav ul {
  font-size: 0.7rem;
}

.secondary-footer-nav li {
  margin-bottom: 4rem;
}

/* Columns */
.secondary-footer-nav {
  display: flex;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7 {
  display: flex;
  flex-direction: column;
  width: 8%;
  margin: 0 2rem 1rem 2rem;
  line-height: 0.1rem;
}
